<<<<<<< HEAD
body
{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
    background-color: blueviolet;
}
section.wrapper
{
    text-align: center;
}
canvas
{
    display: inline;
    outline: 2px solid black;
    max-height: 100vh;
    max-width: 100vw;
    background-color: aqua;
    background: url(../img/forest.png);
    background-size: contain;
}

div#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-image: ("https://www.meme-arsenal.com/memes/dc810abda634608ade3244cedccec930.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal-content 
{
    background-color: #ff5e5e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
=======
body
{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}
section.wrapper{
    text-align: center;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 100vh;
    max-width: 100vw;
}

div#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content 
{
    background-color: #ff0000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
>>>>>>> 489669fc54ff474f335bd639341d638237824659
}